<%- include('partials/header.ejs') %>

<div class="content">
    <div class="summary">
        <div class="image-summary">
            <div class="image-container">
                <img src="/images/susDog.jpeg" class="rPic" alt="Website Image">
            </div>
            <div class="text-container">
                <p>THE website for college climbing gyms. Whether you're a student 
                    looking to climb or student staff, Campusing will help for all of your rock wall needs!</p>
            </div>
        </div>
        <div class="auth-buttons">
            <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
            <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
        </div>
    </div>

    <div class="features">
        <div class="feature">
            <div class="feature-image">
                <img src="/images/susDog.jpeg" alt="Feature 1 Image">
            </div>
            <div class="feature-text">
                <h3>Track climbing progress</h3>
                <p>Description of feature 1.</p>
            </div>
        </div>
        <div class="feature">
            <div class="feature-image">
                <img src="/images/susDog.jpeg" alt="Feature 2 Image">
            </div>
            <div class="feature-text">
                <h3>Manage your rock wall</h3>
                <p>Description of feature 2.</p>
            </div>
        </div>
        <div class="feature">
            <div class="feature-image">
                <img src="/images/susDog.jpeg" alt="Feature 3 Image">
            </div>
            <div class="feature-text">
                <h3>Extra supervision</h3>
                <p>Description of feature 3.</p>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer.ejs') %>
