<%- include('partials/header.ejs') %>

<link rel="stylesheet" href="/styles/styles.css"> <!-- Link to your CSS file -->

<div class="content">
    <div class="summary">
        <div class="image-summary">
            <img src="/images/Gradify.png" alt="Gradify" class="summary-image" /> <!-- Use an img tag -->
            <div class="text-container">
                <p>Think you're alone in your education journey? Gradify will show you that you're not the only one! Meet others who have had similar experiences as you!</p>
            </div>
        </div>
    </div>

    <div class="auth-buttons">
        <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
        <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    </div>

    <div class="features">
        <div class="feature">
            <div class="feature-text">
                <h3>Anonymity</h3>
                <p>Share your thoughts freely without judgment. Your privacy is our priority, enabling honest connections.</p>
            </div>
        </div>
        <div class="feature">
            <div class="feature-text">
                <h3>You're Not Alone!</h3>
                <p>Join a supportive community of students. Exchange ideas and find encouragement in your educational journey.</p>
            </div>
        </div>
        <div class="feature">
            <div class="feature-text">
                <h3>Learn and Grow</h3>
                <p>Turn setbacks into growth opportunities. Share struggles and learn valuable lessons to achieve your goals.</p>
            </div>
        </div>
    </div>
</div>
